<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://wp.avo/xmlrpc.php">

    <title>Интернет Провайдер &#8212; Интернет провайдер в Воронеже</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='//storage.googleapis.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Интернет Провайдер &raquo; Лента комментариев к &laquo;Интернет провайдер в Воронеже&raquo;" href="http://wp.avo/sample-page/feed/" />
    <script type="text/javascript" src="http://gc.kis.scr.kaspersky-labs.com/6A2B914F-B6AB-4A41-B085-98170C11D921/main.js" charset="UTF-8"></script>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "http:\/\/wp.avo\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8"
            }
        };
        ! function(a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case "flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 56826, 8203, 55356, 56819), 0, 0), c = j.toDataURL(), b === c && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447), 0, 0), c = j.toDataURL(), b !== c);
                    case "emoji4":
                        return k.fillText(f(55358, 56794, 8205, 9794, 65039), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55358, 56794, 8203, 9794, 65039), 0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var f, g, h, i, j = b.createElement("canvas"),
                k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (g = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='mdlwp-mdl-css-css' href='https://code.getmdl.io/1.2.1/material.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mdlwp-mdl-icons-css' href='//fonts.googleapis.com/icon?family=Material+Icons&#038;ver=4.8' type='text/css' media='all' />
    <link rel='stylesheet' id='mdlwp-mdl-roboto-css' href='//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700&#038;ver=4.8' type='text/css' media='all' />
    <link rel='stylesheet' id='mdlwp-style-css' href='http://wp.avo/wp-content/themes/MDLWP-master/style.min.css?ver=4.8' type='text/css' media='all' />
    <link rel='stylesheet' id='mdlwp-intercon-style-css' href='http://wp.avo/wp-content/themes/MDLWP-master/css/intercon.css?ver=4.8' type='text/css' media='all' />
    <script type='text/javascript' src='http://wp.avo/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='http://wp.avo/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <link rel='https://api.w.org/' href='http://wp.avo/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://wp.avo/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://wp.avo/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.8" />
    <link rel="canonical" href="http://wp.avo/" />
    <link rel='shortlink' href='http://wp.avo/' />
    <link rel="alternate" type="application/json+oembed" href="http://wp.avo/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwp.avo%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://wp.avo/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwp.avo%2F&#038;format=xml" />
    <!-- ******************************************************************** -->
    <style type="text/css">
        .site-title,
        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
</head>

<body class="home page-template-default page page-id-2 wp-custom-logo mdl-color-text--grey-700 mdl-base">


    <div id="page" class="hfeed site mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header id="masthead" class="site-header mdl-layout__header" role="banner">
            <!-- ************** -->
            <!-- ************** -->

            <div class="mdl-layout__header-row mdl-layout__header--isp">
                <!-- Title -->
                <span class="mdl-layout-title">         
	  <!--Интернет Провайдер-->
		<a href="http://wp.avo/" class="custom-logo-link" rel="home" itemprop="url"><img width="175" height="46" src="http://wp.avo/wp-content/uploads/2017/06/logo.png" class="custom-logo" alt="Интеркон" itemprop="logo" /></a>	</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

                <div class="mdlwp-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                    <form role="search" method="get" class="search-form" action="http://wp.avo/">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
	    <i class="material-icons">search</i>
	</label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" value="" name="s" id="fixed-header-drawer-exp" />
                        </div>
                    </form>
                </div>


                <nav class="mdl-navigation mdl-layout--large-screen-only  mdl-navigation--isp-row">
                    <ul id="menu-%d0%b3%d0%bb%d0%b0%d0%b2%d0%bd%d0%be%d0%b5-%d0%bc%d0%b5%d0%bd%d1%8e" class="mdl-navigation mdl-layout--large-screen-only  mdl-navigation--isp-row">
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/house/">Дом</a></li>
                        <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/kvartira/">Квартира</a></li>
                        <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/office/">Офис</a></li>
                        <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/service/">Сервис</a></li>
                    </ul>
                </nav>
                <div class=" mdl-layout-spacer"></div>
                <nav class="mdl-navigation  mdl-navigation--isp-row">
                    <a class="mdl-navigation__link mdl-navigation__link--isp-kabinet mdl-navigation__link--isp-row" href="https://myintercon.ru/login"><i class="material-icons">lock</i>Кабинет</a>

                    <a class="mdl-navigation__link  mdl-navigation__link--icon  mdl-navigation__link--isp-row mdl-navigation__link--isp-telefon" href="">
                        <div class="isp-telefon">круглосуточно</div> <i class="material-icons">phone</i><span>+7(473)</span> 239-10-10</a>
                </nav>
            </div>

            <div class="mdl-layout__header-row mdl-layout__header-row2">

                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>




                <nav class="mdl-navigation mdl-navigation--isp-row2">
                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/internet/">Интернет</a></li>
                    <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/tv/">TV</a></li>
                    <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/packages/">Пакеты</a></li>
                    <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/telefones/">Телефония</a></li>
                    <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/price/">Тарифы</a></li>
                    <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/actions/">Акции</a></li>
                    <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/news/">Новости</a></li>
                    <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52 mdl-navigation__link  mdl-typography--text-uppercase"><a href="http://wp.avo/support/">Поддержка</a></li>
                </nav>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-navigation--isp-row2">

                    <a class="mdl-navigation__link" href="">
                        <i class="material-icons">credit_card</i>
                        <div>Оплатить</div>
                    </a>
                    <a class="mdl-navigation__link" href="">
                        <i class="material-icons">person_add</i>
                        <div>Подключиться</div>
                    </a>

                </nav>
            </div>


            <!-- ************** -->

        </header>

        <!--
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Интернет Провайдер</span>
  </div>
-->


        <main class="mdl-layout__content">
            <div id="content" class="site-content">



                <div id="primary" class="content-area">
                    <main id="main" class="site-main mdl-grid mdlwp-900" role="main">





                        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
                            <article id="post-2" class="post-2 page type-page status-publish hentry">

                                <div class="mdl-card__media" style=" ">
                                    <header>
                                        <h3 style=""> Интернет провайдер в Воронеже </header>
                                    <!-- .entry-header -->
                                </div>

                                <div class="entry-content mdl-color-text--grey-600 mdl-card__supporting-text">
                                    <p><img class="alignnone size-medium wp-image-68" src="http://wp.avo/wp-content/uploads/2017/06/cropped-isp_baner1-300x150.jpg" alt="" width="300" height="150" srcset="http://wp.avo/wp-content/uploads/2017/06/cropped-isp_baner1-300x150.jpg 300w, http://wp.avo/wp-content/uploads/2017/06/cropped-isp_baner1-768x385.jpg 768w, http://wp.avo/wp-content/uploads/2017/06/cropped-isp_baner1-1024x513.jpg 1024w, http://wp.avo/wp-content/uploads/2017/06/cropped-isp_baner1.jpg 1200w"
                                            sizes="(max-width: 300px) 100vw, 300px" /></p>
                                    <p>&nbsp;</p>
                                </div>
                                <!-- .entry-content -->
                            </article>
                            <!-- #post-## -->
                        </div>
                        <!-- .mdl-cell -->








                    </main>
                    <!-- #main -->
                </div>
                <!-- #primary -->




            </div>
            <!-- #content -->

            <footer class="mdl-mega-footer">


                <div class="mdl-mega-footer__middle-section">
                    <div id="recent-posts-11" class="mdl-mega-footer__drop-down-section footer-widget widget_recent_entries">
                        <h1 class="mdl-mega-footer__heading footer-title">Свежие записи</h1>
                        <ul>
                            <li>
                                <a href="http://wp.avo/%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d1%8c-1/">Новость 1</a>
                            </li>
                            <li>
                                <a href="http://wp.avo/%d0%b7%d0%b0%d0%bf%d0%b8%d1%81%d1%8c-2/">Запись 2</a>
                            </li>
                            <li>
                                <a href="http://wp.avo/%d0%bf%d1%80%d0%b8%d0%b2%d0%b5%d1%82-%d0%bc%d0%b8%d1%80/">Привет, мир!</a>
                            </li>
                        </ul>
                    </div>
                    <div id="calendar-4" class="mdl-mega-footer__drop-down-section footer-widget widget_calendar">
                        <div id="calendar_wrap" class="calendar_wrap">
                            <table id="wp-calendar">
                                <caption>Июнь 2017</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" title="Понедельник">Пн</th>
                                        <th scope="col" title="Вторник">Вт</th>
                                        <th scope="col" title="Среда">Ср</th>
                                        <th scope="col" title="Четверг">Чт</th>
                                        <th scope="col" title="Пятница">Пт</th>
                                        <th scope="col" title="Суббота">Сб</th>
                                        <th scope="col" title="Воскресенье">Вс</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <td colspan="3" id="prev"><a href="http://wp.avo/2017/04/">&laquo; Апр</a></td>
                                        <td class="pad">&nbsp;</td>
                                        <td colspan="3" id="next" class="pad">&nbsp;</td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr>
                                        <td colspan="3" class="pad">&nbsp;</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                        <td>17</td>
                                        <td>18</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td><a href="http://wp.avo/2017/06/20/" aria-label="Записи, опубликованные 20.06.2017">20</a></td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                        <td>24</td>
                                        <td>25</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td id="today">29</td>
                                        <td>30</td>
                                        <td class="pad" colspan="2">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="mdlwp_widget-4" class="mdl-mega-footer__drop-down-section footer-widget widget_mdlwp_widget"><input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading footer-title">Links</h1>
                        <ul class="mdl-mega-footer__link-list">MDL Dropdown</ul>
                    </div>
                    <div id="mdlwp_widget-5" class="mdl-mega-footer__drop-down-section footer-widget widget_mdlwp_widget"><input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading footer-title">Links</h1>
                        <ul class="mdl-mega-footer__link-list">5656565656</ul>
                    </div>
                </div>



            </footer>

        </main>
        <!-- .mdl-layout__content -->
    </div>
    <!-- #page -->

    <script type='text/javascript' src='https://code.getmdl.io/1.2.1/material.min.js'></script>
    <script type='text/javascript' src='http://wp.avo/wp-content/themes/MDLWP-master/js/dist/scripts.min.js?ver=1.1.9'></script>
    <script type='text/javascript' src='http://wp.avo/wp-includes/js/wp-embed.min.js?ver=4.8'></script>


</body>

</html>